serie_1_raspi-master/Karls Flow
[{"id":"85b580d9.8acca","type":"tab","label":"ReKarls Flow ","disabled":false,"info":""},{"id":"d3222f65.7e674","type":"http in","z":"85b580d9.8acca","name":"","url":"/index1","method":"get","upload":false,"swaggerDoc":"","x":110,"y":140,"wires":[["eaad9637.f5d418"]]},{"id":"21ed7c82.fc0154","type":"http response","z":"85b580d9.8acca","name":"","statusCode":"","headers":{},"x":1030,"y":120,"wires":[]},{"id":"ec28904e.e4161","type":"template","z":"85b580d9.8acca","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload.payload}} !\n<br>\n<button class=\"resetBtn\" onclick=\"resetClick();\">Reset</button>\n<script> \n\nfunction resetClick(){\n    window.location =\"reset\";\n}\n</script>","output":"str","x":720,"y":140,"wires":[["21ed7c82.fc0154"]]},{"id":"d6835a89.08ea38","type":"function","z":"85b580d9.8acca","name":"save","func":"if(msg.payload.length===0){\n    msg.payload=1;\n    return msg;\n}\nelse {\nvar dataBaseArray = msg.payload;\nvar lastEntry = dataBaseArray.pop();\nmsg.payload = lastEntry.payload + 1;\nreturn msg;\n}","outputs":1,"noerr":0,"x":530,"y":140,"wires":[[]]},{"id":"5e7f94a2.1be52c","type":"inject","z":"85b580d9.8acca","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":190,"y":400,"wires":[["fa8c196c.923b88"]]},{"id":"eaad9637.f5d418","type":"mongodb in","z":"85b580d9.8acca","mongodb":"e43f5bfb.057308","name":"","collection":"pageVisitors","operation":"find","x":320,"y":140,"wires":[["a896228c.f7d41"]]},{"id":"7ec43566.84baac","type":"mongodb out","z":"85b580d9.8acca","mongodb":"e43f5bfb.057308","name":"","collection":"pageVisitors","payonly":true,"upsert":false,"multi":false,"operation":"store","x":780,"y":220,"wires":[]},{"id":"429bb7e5.8664b8","type":"http in","z":"85b580d9.8acca","name":"","url":"reset","method":"get","upload":false,"swaggerDoc":"","x":200,"y":500,"wires":[["fa8c196c.923b88"]]},{"id":"16cef3ff.11768c","type":"template","z":"85b580d9.8acca","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<script>\nwindow.location=\"index1\";\n</script>","output":"str","x":800,"y":440,"wires":[["2a108de9.17e642"]]},{"id":"2a108de9.17e642","type":"http response","z":"85b580d9.8acca","name":"","statusCode":"","headers":{},"x":1000,"y":460,"wires":[]},{"id":"3941eb32.be65a4","type":"mongodb out","z":"85b580d9.8acca","mongodb":"e43f5bfb.057308","name":"","collection":"pageVisitors","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":920,"y":380,"wires":[]},{"id":"fa8c196c.923b88","type":"function","z":"85b580d9.8acca","name":"resetClicks","func":"return msg;","outputs":1,"noerr":0,"x":510,"y":460,"wires":[["16cef3ff.11768c","3941eb32.be65a4"]]},{"id":"a896228c.f7d41","type":"function","z":"85b580d9.8acca","name":"update","func":"if(msg.payload.length===0){\n    msg.payload=1;\n    return msg;\n}\nelse {\nvar obj={};\nobj.payload=msg.payload[0].payload+1;\nobj._id=msg.payload[0]._id;\nmsg.payload=obj;\nreturn msg;\n}","outputs":1,"noerr":0,"x":510,"y":220,"wires":[["ec28904e.e4161","7ec43566.84baac"]]},{"id":"e43f5bfb.057308","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"node-red","name":"Website"}]