serie_1_raspi-master/Karls Erdbebenflow
[{"id":"2374512a.1abeae","type":"tab","label":"Refactored Karl ","disabled":false,"info":""},{"id":"8f653870.4692c8","type":"inject","z":"2374512a.1abeae","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":120,"wires":[["ea18e68c.299ad8"]]},{"id":"ea18e68c.299ad8","type":"http request","z":"2374512a.1abeae","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_week.geojson","tls":"","persist":false,"proxy":"","authType":"","x":130,"y":340,"wires":[["39524cb9.25ef64"]]},{"id":"39524cb9.25ef64","type":"function","z":"2374512a.1abeae","name":"Check connection","func":"payload = msg.payload\n\n// Check if we get a message\nmsg.continue = payload.includes('\"status\":200')\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":240,"wires":[["a76dd4e8.a6c108"]]},{"id":"a76dd4e8.a6c108","type":"switch","z":"2374512a.1abeae","name":"","property":"continue","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":340,"wires":[["4e0611b.5499ef"],["b16c99c.68d7868"]]},{"id":"73f183dc.28b7ec","type":"function","z":"2374512a.1abeae","name":"readFeatures","func":"// We can maybe use this to stop the flow\n//msg.continue = false\nmsg.payload= msg.payload.features;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":120,"wires":[["d573ec79.0b274"]]},{"id":"d573ec79.0b274","type":"function","z":"2374512a.1abeae","name":"for-loop","func":"if(msg.i=== undefined){\n    msg.i=0;\n}\nif(msg.array===undefined){\n    msg.array=msg.payload;\n}\nmsg.payload=msg.array[msg.i];\nmsg.i= msg.i+1;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":660,"y":120,"wires":[["d35bd803.7ae348"]]},{"id":"d35bd803.7ae348","type":"function","z":"2374512a.1abeae","name":"readData","func":"var mag = msg.payload.properties.mag;\nvar place = msg.payload.properties.place;\nvar time = msg.payload.properties.time;\n\nif(msg.data===undefined){\n   msg.data=\"Magnitude: \"+mag+\"; Place:\"+place+\"; Time:\"+time;\n}\nelse {\n   msg.data+=\"Magnitude: \"+mag+\"; Place:\"+place+\"; Time:\"+time;\n}\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":920,"y":120,"wires":[["bd9c381b.634e18"]]},{"id":"a2b467ed.842688","type":"mongodb out","z":"2374512a.1abeae","mongodb":"4aca7ee8.4dd71","name":"","collection":"earthQuakeDB","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1230,"y":100,"wires":[]},{"id":"c31185cd.eeff08","type":"mongodb in","z":"2374512a.1abeae","mongodb":"4aca7ee8.4dd71","name":"","collection":"earthQuakeDB","operation":"find","x":450,"y":580,"wires":[["dd1b071a.911ef8"]]},{"id":"dd1b071a.911ef8","type":"function","z":"2374512a.1abeae","name":"","func":"msg.payload = msg.payload.pop().payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":580,"wires":[["ab81f9cb.a35a28"]]},{"id":"ab81f9cb.a35a28","type":"template","z":"2374512a.1abeae","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"de\">\n    <body>\n        <div id=\"container\">\n        {{payload}} \n        </div>\n        </body>\n        <style media=\"screen\">\n            @import url('https://fonts.googleapis.com/css?family=Roboto:700');\n            body {\n            margin:0px;\n            font-family:'Roboto';\n            text-align:center;\n            }\n            #container {\n            color:#999;\n            text-transform: uppercase;\n            font-size:20px;\n            font-weight:bold;\n            padding-top:200px;\n            position:fixed;\n            width:100%;\n            bottom:45%;\n            display:block;\n            -webkit-animation:colorchange 6s infinite alternate;}\n            @-webkit-keyframes colorchange { \n            0% {color: #F3616F;\n            }\n            33% {color: #FCA364;}\n            66% {color: #FCC564;}\n            100% {color: #F3616F;} \n                \n            }\n            </style> \n            </html>","output":"str","x":860,"y":580,"wires":[["5519c46f.7969ec"]]},{"id":"b16c99c.68d7868","type":"function","z":"2374512a.1abeae","name":"Print Error Message","func":"msg.payload = \"Fehler beim verarbeiten :-/\"\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":340,"wires":[["adeabd97.f7db8"]]},{"id":"adeabd97.f7db8","type":"debug","z":"2374512a.1abeae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":360,"wires":[]},{"id":"4e0611b.5499ef","type":"json","z":"2374512a.1abeae","name":"","property":"payload","action":"obj","pretty":false,"x":470,"y":240,"wires":[["73f183dc.28b7ec"]]},{"id":"bd9c381b.634e18","type":"switch","z":"2374512a.1abeae","name":"","property":"i","propertyType":"msg","rules":[{"t":"lt","v":"array.length","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":260,"wires":[["d573ec79.0b274"],["c4b149fa.f41ea8"]]},{"id":"c4b149fa.f41ea8","type":"function","z":"2374512a.1abeae","name":"save","func":"msg.payload=msg.data;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":180,"wires":[["a2b467ed.842688"]]},{"id":"46eec3c1.bcc11c","type":"http in","z":"2374512a.1abeae","name":"","url":"/earthQuakes2","method":"get","upload":false,"swaggerDoc":"","x":150,"y":580,"wires":[["c31185cd.eeff08"]]},{"id":"5519c46f.7969ec","type":"http response","z":"2374512a.1abeae","name":"","statusCode":"","headers":{},"x":1030,"y":580,"wires":[]},{"id":"4aca7ee8.4dd71","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"node-red","name":"Database"}]